import { defHttp } from '@/utils/http/axios'
#set ($baseURL = "/${table.moduleName}/${simpleClassName_strikeCase}")

// 查询${table.classComment}列表
export function page(params) {
    return defHttp.get({ url: '${baseURL}/page', params })
}

// 查询${table.classComment}详情
export function get(id: number) {
    return defHttp.get({ url: '${baseURL}/get?id=' + id })
}

// 新增${table.classComment}
export function create(data) {
    return defHttp.post({ url: '${baseURL}/create', data })
}

// 修改${table.classComment}
export function update(data) {
    return defHttp.put({ url: '${baseURL}/update', data })
}

// 删除${table.classComment}
export function del(id: number) {
    return defHttp.delete({ url: '${baseURL}/delete?id=' + id })
}

// 导出${table.classComment} Excel
export function exportExcel(params) {
    return defHttp.download({ url: '${baseURL}/export-excel', params }, '${table.classComment}.xls')
}
