<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.biz.dal.mysql.calc.CalcInterestRateDataMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <select id="selectAll" resultType="cn.iocoder.yudao.module.biz.dal.dataobject.calc.CalcInterestRateDataDO">
        SELECT
            t.id id,
            t.start_date startDate,
            t.rate_half_year rateHalfYear,
            t.rate_one_year rateOneYear,
            t.rate_three_year rateThreeYear,
            t.rate_five_year rateFiveYear,
            t.rate_over_five_year rateOverFiveYear,
            t.create_time createTime,
            t.update_time updateTime,
            t.creator creator,
            t.updater updater,
            t.deleted deleted,
            t.tenant_id tenantId
        FROM  biz_calc_interest_rate_data t
        ORDER BY t.start_date
    </select>


    <insert id="insertExecProcessDataBatch">
        INSERT INTO biz_calc_exec_data ( id,  process_id, rate_id, date_index, day_rate, day_amount,year_rate )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (  #{item.id},  #{item.processId},  #{item.rateId},  #{item.dateIndex}, #{item.dayRate}, #{item.dayAmount} , #{item.yearRate}  )
        </foreach>
    </insert>

    <insert id="insertExecProcessDataMonthBatch">
        INSERT INTO biz_calc_exec_data ( id,  process_id, rate_id, date_index, date_index_end, day_rate, day_amount,days,year_rate
        ,full_days,is_full )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (  #{item.id},  #{item.processId},  #{item.rateId},  #{item.dateIndex},  #{item.dateIndexEnd}, #{item.dayRate}, #{item.dayAmount}
            , #{item.days} , #{item.yearRate}, #{item.fullDays}, #{item.isFull} )
        </foreach>
    </insert>

    <insert id="insertExecProcessDataYearBatch">
        INSERT INTO biz_calc_exec_data ( id,  process_id, rate_id, date_index, date_index_end, day_rate, day_amount,days,year_rate )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (  #{item.id},  #{item.processId},  #{item.rateId},  #{item.dateIndex},  #{item.dateIndexEnd}, #{item.dayRate}, #{item.dayAmount} , #{item.days} , #{item.yearRate} )
        </foreach>
    </insert>


    <select id="selectSectionListByProcessAndYearType" resultType="cn.iocoder.yudao.module.biz.controller.admin.calc.vo.SectionIndexVO">
        SELECT
            min(a.date_index) AS  startDate,
            max(a.date_index) AS  endDate,
            round(a.year_rate ,5) suiteRate,
            c.days AS  days,
            ROUND(SUM(day_amount),2)  AS sectionAmount
        FROM biz_calc_exec_data a
        LEFT JOIN biz_calc_interest_rate_data b ON a.rate_id = b.id
        LEFT JOIN (
            SELECT process_id ,COUNT(1) days,rate_id FROM biz_calc_exec_data WHERE process_id = #{processId} GROUP BY  rate_id
        ) c ON a.process_id = c.process_id AND a.rate_id = c.rate_id
        WHERE a.process_id = #{processId}
        GROUP BY a.rate_id
        ORDER BY a.date_index
    </select>

    <select id="selectSectionListByFixRate" parameterType="java.lang.String"   resultType="cn.iocoder.yudao.module.biz.controller.admin.calc.vo.SectionIndexVO">
        SELECT
            min(a.date_index)  startDate,
            max(a.date_index)  endDate,
            round(a.year_rate,5)  suiteRate,
            c.days AS  days,
            ROUND(SUM(day_amount),2)  AS sectionAmount
        FROM biz_calc_exec_data a
        LEFT JOIN biz_calc_interest_rate_data b ON a.rate_id = b.id
        LEFT JOIN (
            SELECT process_id ,COUNT(1) days,rate_id FROM biz_calc_exec_data WHERE process_id = #{processId} GROUP BY rate_id ,day_rate
        ) c ON a.process_id = c.process_id AND a.rate_id = c.rate_id
        WHERE a.process_id = #{processId}
        GROUP BY a.rate_id , a.day_rate
        ORDER BY b.start_date
    </select>

    <select id="selectSectionList4FxByFixRate" parameterType="java.lang.String"   resultType="cn.iocoder.yudao.module.biz.controller.admin.calc.vo.SectionIndexVO">
        SELECT
            min(a.date_index)  startDate,
            max(a.date_index)  endDate,
            round(a.day_rate*100,5)  suiteRate,
            c.days AS  days,
            ROUND(SUM(day_amount),2)  AS sectionAmount
        FROM biz_calc_exec_data a
                 LEFT JOIN biz_calc_interest_rate_data b ON a.rate_id = b.id
                 LEFT JOIN (
            SELECT process_id ,COUNT(1) days,rate_id,day_rate FROM biz_calc_exec_data WHERE process_id = #{processId} GROUP BY rate_id ,day_rate
        ) c ON a.process_id = c.process_id AND a.rate_id = c.rate_id and a.day_rate = c.day_rate
        WHERE a.process_id = #{processId}
        GROUP BY a.rate_id , a.day_rate
        ORDER BY b.start_date
    </select>


    <select id="selectSectionListByFixMonthRate" parameterType="java.lang.String"
            resultType="cn.iocoder.yudao.module.biz.controller.admin.calc.vo.SectionIndexVO">
        SELECT
            DATE_FORMAT(a.date_index,'%Y-%m')  startDate,
            ''  endDate,
            round(a.year_rate,5)  suiteRate,
           case a.is_full when 1 then 1 else concat(a.days,'/',a.full_days) end  AS  days,
            ROUND(SUM(day_amount),2)  AS sectionAmount,
            a.days days
        FROM biz_calc_exec_data a
        LEFT JOIN biz_calc_interest_rate_data b ON a.rate_id = b.id
        LEFT JOIN (
            SELECT process_id ,COUNT(1) days,DATE_FORMAT( date_index,'%Y-%m') monthIndex FROM biz_calc_exec_data WHERE process_id = #{processId} GROUP BY DATE_FORMAT(date_index,'%Y-%m')
        ) c ON a.process_id = c.process_id AND DATE_FORMAT(a.date_index,'%Y-%m') = c.monthIndex
        WHERE a.process_id = #{processId}
        GROUP BY DATE_FORMAT(a.date_index,'%Y-%m')
    </select>

    <select id="selectSectionListByFixYearRate" parameterType="java.lang.String"   resultType="cn.iocoder.yudao.module.biz.controller.admin.calc.vo.SectionIndexVO">
        SELECT
            concat(a.date_index,'至',a.date_index_end)  startDate,
            ''  endDate,
            round(a.year_rate,5)  suiteRate,
            a.days AS  days,
            ROUND(SUM(day_amount),2)  AS sectionAmount,
            a.days days
        FROM biz_calc_exec_data a
        LEFT JOIN biz_calc_interest_rate_data b ON a.rate_id = b.id
        WHERE a.process_id = #{processId}
        GROUP BY DATE_FORMAT(a.date_index,'%Y')
    </select>

    <select id="selectTotalAmountByProcessId" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        SELECT ROUND(SUM(day_amount),2) FROM biz_calc_exec_data WHERE process_id = #{processId}
    </select>

</mapper>
